:root {
    --color-primario: #114c90;
    --color-text: #114c90;
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
    padding-right: 10px;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
}

table.dataTable thead .sorting:after {
    opacity: 0.2;
    content: "\e150";
    /* sort */
}

table.dataTable thead .sorting_asc:after {
    content: "\e155";
    /* sort-by-attributes */
}

table.dataTable thead .sorting_desc:after {
    content: "\e156";
    /* sort-by-attributes-alt */
}

table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    color: #eee;
}

div.dataTables_scrollBody table thead .sorting:after,
div.dataTables_scrollBody table thead .sorting_asc:after,
div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px;
}

table.dataTable thead .sorting:before, .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before {
    display: none !important;
}

.table {
    width: 100% !important;
}

.boton-reniec {
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    border: solid 2px #d1d1d1;
}

    .boton-reniec:hover {
        border: solid 2px #007bff;
    }

.sidebar-nav .metismenu ul a::before {
    display: none;
}

.popover {
    max-width: 1000px;
    border: 2px solid var(--color-primario);
}

.popover-header {
    background-color: #dddddd;
    border-bottom: 1px solid var(--color-primario);
    color: #333333;
}

.popover-body {
    font-weight: 600;
    color: #333333;
}

.user-account {
    margin: 22px 4px 10px;
}

    .user-account .user-photo {
        margin-right: 2px;
    }

.layout-fullwidth #wrapper #left-sidebar.mini-sidebar.mini-sidebar-hover .user-account {
    margin: 12px;
}


.sec-detalles .btn-outline-info:not(:disabled):not(.disabled).active {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
    font-weight: bold;
}

.sec-detalles .btn-outline-info:hover {
    color: var(--color-text);
    background-color: #f4f7f6;
    border-color: var(--color-primario);
}

.sec-detalles .btn-outline-info {
    border-color: var(--color-primario);
    color: var(--color-text);
}

    .sec-detalles .show > .btn-outline-info.dropdown-toggle, .sec-detalles .btn-outline-info:not(:disabled):not(.disabled):active {
        background-color: var(--color-primario);
        border-color: var(--color-primario);
        color: #ffffff;
    }

        .sec-detalles .btn-outline-info:not(:disabled):not(.disabled).active:focus,
        .sec-detalles .btn-outline-info:not(:disabled):not(.disabled):active:focus,
        .sec-detalles .show > .btn-outline-info.dropdown-toggle:focus,
        .sec-detalles .btn-outline-info.focus, .sec-detalles .btn-outline-info:focus {
            box-shadow: 0 0 0 0.2rem #114c9061;
        }

.sec-detalles .badge-secondary {
    background: var(--color-primario);
    color: #ffffff;
}

.sec-detalles .btn-outline-info:not(:disabled):not(.disabled).active > .badge-secondary,
.sec-detalles .show > .btn-outline-info.dropdown-toggle > .badge-secondary,
.sec-detalles .btn-outline-info:not(:disabled):not(.disabled):active > .badge-secondary {
    background: #ffffff !important;
    color: var(--color-text) !important;
}

.ms-container {
    width: 100% !important;
}

.colorpicker.colorpicker-visible {
    z-index: 9999;
}

.modal-full {
    max-width: 100%;
    margin-left: 18px;
}

.modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.card .profile-header {
    text-align: center;
}

.select2-container--open {
    z-index: 999999;
}

.btn-danger {
    color: #ffffff !important;
}

.metismenu > li > ul > .active a ul {
    font-weight: 700;
    background-color: #c5cfef !important;
}

.metismenu > li > ul > .active ul li a {
    padding: 5px 10px 5px 65px;
    font-weight: 400 !important;
    background-color: #f4f7f6 !important;
}

    .metismenu > li > ul > .active ul li a:hover {
        background-color: #f1f1f1 !important;
    }

.metismenu > li > ul > .active ul .active a {
    font-weight: 700 !important;
    background-color: #c5cfef !important;
}

    .metismenu > li > ul > .active ul .active a:hover {
        background-color: #c5cfef !important;
    }

.desactivarenlace {
    pointer-events: none;
    background: #cccccc !important;
}

.activarenlace {
    pointer-events: auto;
    background: var(--color-primario) !important;
}

.lg-outer.lg-visible {
    background: #000000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.nav-link {
    padding: .5rem 0.9rem;
}

.tablelejago {
    font-size: 11.9px;
}

/*.notificaciones {
    float: right !important;
}*/

.notificaciones .navbar-nav ul.notifications {
    padding: 0px;
    margin: 0px !important;
    border: 0px;
    background: #ffffff;
}

.notificaciones li {
    list-style: none !important;
}

.notificaicones-list {
    padding: 0px !important;
}

.notificaciones .nav-item {
    padding: 5px 16px 0 0;
    text-align: center;
}

    .notificaciones .nav-item a {
        padding: 15px 10px !important;
    }

    .notificaciones .nav-item .active {
        background: var(--color-primario) !important;
    }

.notificaciones .nav-tabs .nav-link.active {
    color: #ffffff !important;
}

.notificaciones .nav.nav-tabs {
    border-bottom: 1px solid #000000;
}

.ContadorTotalNotificaciones, .contadorNotificacion {
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 10px;
    padding: 2px 3px;
    color: white;
    line-height: .9;
}

.ContadorTotalNotificaciones_NavItem {
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 15px;
    padding: 3px 5px;
    color: white;
    line-height: 0.9;
}

#modal {
    opacity: 1 !important;
}

.evendar-container .evendar-input {
    box-shadow: none !important;
}

.stick {
    position: sticky;
    left: 0px;
    background-color: grey;
}

.sticky {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
}

.daterange {
    text-align: center;
}

    .daterange span {
        font-size: 14px;
    }

.fixed-side img {
    display: none;
}

.tabla-focus table.dataTable th.focus,
.tabla-focus table.dataTable td.focus {
    outline: none;
}

.tabla-focus table.dataTable.display tbody tr.even > .sorting_1, .tabla-focus table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #ffffff;
}

.tabla-focus table.dataTable.display tbody tr:hover > .sorting_1, .tabla-focus table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #f6f6f6;
}


.tabla-focus table.dataTable.display tbody tr.odd > .sorting_1, .tabla-focus table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #fafafa;
}

.tabla-focus table.dataTable.display tbody tr:hover > .sorting_1, .tabla-focus table.dataTable.order-column.stripe tbody tr:hover > .sorting_1 {
    background-color: #f6f6f6;
}

.tabla-focus tfoot, .tabla-focus .DTFC_Cloned tfoot tr, .tabla-focus thead, .tabla-focus .DTFC_Cloned thead tr {
    background-color: #dddddd;
}


.tabla-focus table.dataTable tfoot th, .tabla-focus table.dataTable tfoot td {
    border-top: 0px solid #111;
}

.tabla-focus .table-bordered td, .tabla-focus .table-bordered th {
    border: 1px solid #aaaaaa;
}

.tabla-focus .table-bordered {
    border: 1px solid #aaaaaa;
    border-right: 2.5px solid #ff6a6a;
}

.tabla-focus .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: 1px solid #fff;
}

.tabla-focus .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px;
}

.tabla-focus table.dataTable thead .sorting:after, .tabla-focus table.dataTable thead .sorting_asc:after, .tabla-focus table.dataTable thead .sorting_desc:after {
    content: "\2195";
}

.tabla-focus .fixed-side b {
    font-weight: 500;
}

.tabla-focus table.dataTable tbody tr.selected a, table.dataTable tbody tr.selected td b, table.dataTable tbody tr.selected td {
    color: #333333;
}

.tabla-focus .dataTables_scrollBody {
    height: 400px;
}

.lista-check {
    border: 2px solid #ccc;
    width: 300px;
    height: 100px;
    overflow-y: scroll;
}

table.dataTable {
    border-collapse: collapse !important;
}

.notificaciones .body .icon-menu .notification-dot {
    width: 25px;
    height: 25px;
    top: 0px;
    right: 0px;
    color: #ffffff;
    background-color: #ff0000;
    border-bottom: 1px solid #000000 !important;
}

th.rotate {
    /* Something you can count on */
    height: 235px !important;
    white-space: nowrap !important;
    padding: 0 0 60px !important;
}

    th.rotate > div {
        transform:
        /* Magic Numbers */
        translate(25px, 51px)
        /* 45 is really 360 - 45 */
        rotate(315deg) !important;
        width: 30px !important;
    }

.noventagrados th.rotate {
    /* Something you can count on */
    height: 150px !important;
}

.dataTables_filter label {
    float: right;
}

.noventagrados thead .sorting:after {
    opacity: 0 !important;
}

.pagination {
    float: right;
}

.noventagrados tbody tr td {
    padding: 5px 0px 5px 32px !important;
}

th.rotate > div > span {
    border-bottom: 1px solid #000000 !important;
    padding: 5px 10px !important;
}

.tablerotate.dataTable thead .sorting {
    position: inherit;
}

#calendar {
    max-width: 100%;
    margin: 5px auto;
}

.fc-event {
    position: absolute !important;
}

.fc .fc-toolbar .fc-today-button, .fc .fc-toolbar .fc-state-default {
    background: #114c90;
    color: #ffffff;
}

.table-header-rotated {
    border-collapse: collapse;
}

.csstransforms .table-header-rotated td {
    width: 30px;
}

.no-csstransforms .table-header-rotated th {
    padding: 5px 10px;
}

.table-header-rotated td {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ccc;
}

.csstransforms .table-header-rotated th.rotate {
    height: 140px;
    white-space: nowrap;
}

    .csstransforms .table-header-rotated th.rotate > div {
        -webkit-transform: translate(25px, 51px) rotate(315deg);
        transform: translate(25px, 51px) rotate(315deg);
        width: 30px;
    }

        .csstransforms .table-header-rotated th.rotate > div > span {
            border-bottom: 1px solid #ccc;
            padding: 5px 10px;
        }

.table-header-rotated th.row-header {
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}

.ocultar-collapser .simple-tree-table-icon {
    display: none;
}

.ocultar {
    display: none !important;
}

.table-collapser thead {
    background: #aaaaaa;
}

.table-collapser tfoot {
    background: #deddbe;
}

.tablahijo .child ul.dtr-details {
    display: block !important;
}

.modal-sombra {
    background: rgba(0,0,0,0.6);
}

.manual .tags-bar {
    display: none;
}

.manual .img-manual {
    margin: 0 auto;
    display: inherit;
}

.manual .item-column {
    width: 100%;
    max-width: 100%;
}

.manual .gallery-items-row {
    display: block;
}

#my_camera {
    width: 320px;
    height: 240px;
    border: 1px solid black;
}

.disabled_Boton {
    pointer-events: none;
    cursor: default;
    background-color: #e9ecef !important;
    border: 1px solid #ced4da;
}

.card .header {
    height: auto;
}

.table-responsive th {
    font-weight: bold;
    text-align: -internal-center;
}

.clase_Calendar {
    background: #ffffff !important;
    font-weight: 400 !important;
}

.FinDeSemana {
    background: #f1f1f1;
    color: #FF0000;
}

.new {
    background: none !important;
}

.calendar {
    overflow: hidden !important;
}

.calendarioEventos .fc-event {
    position: relative !important;
}

.fc-toolbar .fc-state-active, .fc-toolbar .ui-state-active {
    opacity: .65;
}

.noventagrados th.rotate {
    height: 90px !important;
    width: 75px !important;
}

.noventagrados th.rotate > div {
    transform: /* Magic Numbers */ translate(-40px, 31px) /* 45 is really 360 - 45 */ rotate(270deg) !important;
    width: 75px !important;
    height: 55px;
    display: flex;
}


.noventagrados th.rotate > div > span {
    border-bottom: 0px solid #000000 !important;
    padding: 5px 10px !important;
    white-space: initial;
    height: 90px;
    width: 75px;
    display: flex;
    align-items: flex-end;
}

.tablaDeProgramacion .reducirAncho, #TablaProgramacionRoles_wrapper .reducirAncho {
    padding: 0px 8px !important;
}

.tablaDeProgramacion .reducirAncho, #prog_TablaProgramacionRoles_wrapper .reducirAncho {
    padding: 0px 8px !important;
}

.tablaDeProgramacion .fancy-checkbox label, #TablaProgramacionRoles_wrapper .fancy-checkbox label {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.tablaDeProgramacion .fancy-checkbox label, #prog_TablaProgramacionRoles_wrapper .fancy-checkbox label {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.tablaDeProgramacion .fancy-checkbox, #TablaProgramacionRoles_wrapper .fancy-checkbox {
    margin-right: 2px;
}

.tablaDeProgramacion .fancy-checkbox, #prog_TablaProgramacionRoles_wrapper .fancy-checkbox {
    margin-right: 2px;
}

.tablaDeProgramacion .erp-dropdown-menu > ul, #TablaProgramacionRoles_wrapper .erp-dropdown-menu > ul {
    bottom: 0px;
}

.tablaDeProgramacion .erp-dropdown-menu > ul, #prog_TablaProgramacionRoles_wrapper .erp-dropdown-menu > ul {
    bottom: 0px;
}

/*#TablaProgramacionRoles_wrapper .reducirAncho div {
    margin-right: 0px !important;
    width: 18px !important;
}*/
.tablaDeProgramacion .erp-dropdown-menu > ul, #TablaProgramacionRoles_wrapper .reducirAnchoTh {
        padding: 0px 6px !important;
}

.tablaDeProgramacion .erp-dropdown-menu > ul, #prog_TablaProgramacionRoles_wrapper .reducirAnchoTh {
    padding: 0px 6px !important;
}

/*#TablaProgramacionRoles_wrapper .reducirAncho .btn-group-sm > .btn, .btn-sm {
    padding: 0.25rem 1.9rem !important;
}*/

.tablaTareo .reducirAncho {
    padding: 8px 4px !important;
}

.tablaTareo .reducirAncho div {
    margin-right: 0px !important;
    width: 18px !important;
}

.tablaTareo .reducirAnchoTh {
    padding: 0px 0px !important;
}

.tablaTareo .reducirAncho .btn-group-sm > .btn, .btn-sm {
    padding: 0.25rem 1.9rem !important;
}

.tablaDeProgramacion .dataTables_paginate .paginate_button, #TablaTareo_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

.tablaDeProgramacion .dataTables_paginate .paginate_button, #TablaProgramacionRoles_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

#TablaAsignados_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

.tablaDeProgramacion .dataTables_paginate .paginate_button, #prog_TablaProgramacionRoles_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}

@media (min-width: 576px) {
    .expandir {
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
        flex: 0 0 100%;
    }

    .double.calendar {
        margin: 0 auto;
    }
}

.bootstrap-timepicker-widget.dropdown-menu {
    z-index: 99999 !important;
}

.notabarwidth {
    width: 350px !important;
}

.xga-accordion-wrapper-2 .xga-accrodion .xga-accordion-body.show {
    max-height: 100% !important;
}

/* Tareo */

#TablaTareo_wrapper .reducirAncho {
    padding: 0px 8px !important;
}

#TablaTareo_wrapper .fancy-checkbox label {
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

#TablaTareo_wrapper .fancy-checkbox {
    margin-right: 2px;
}

#TablaTareo_wrapper .erp-dropdown-menu > ul {
    bottom: 0px;
}

#TablaTareo_wrapper .reducirAnchoTh {
    padding: 0px 6px !important;
}

#TablaTareo_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}
.header-dropdown .dropdown-menu {
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0 !important;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background: #fff;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid rgba(0,0,0,.15) !important;
    border-radius: .25rem !important;
}

.header-dropdown .dropdown-menu i {
    color: #000 !important
}
.header-dropdown .dropdown-menu a {
    color: #000 !important
}
.header-dropdown .dropdown-menu a:hover {
        background-color: #c5cfef;
    }
.card .header .header-dropdown .dropdown-toggle:after {
    content: "\f107";
    font-weight: bold;
}

#TablaProduccionConductor_wrapper .dataTables_paginate .paginate_button {
    padding: 0;
    margin-left: 0;
}
.reducirPadding {
    padding: 0.375rem .45rem !important;
}
#left-sidebar {
    margin-top: 0px;
    padding-top: 60px;
}
.divdropdowntd {
    position: absolute !important;
    margin: -12px 12px;
}

.uldropdowntd {
    position: absolute !important;
}
#situacionlista {
    right: auto;
}

@media (max-width: 770px) {
    .mail-right .card .header .header-dropdown {
        position: initial !important;
        top: 24px;
    }

    .card .header .header-dropdown {
        top: 24px;
    }

    .c_breadcrumbs ul a {
        padding: .3em .3em;
    }
}

.modal-preview-print {
    max-width: 90%
}

.col-ajus-text {
    width: 250px !important;
    white-space: inherit !important;
}
.rondaProgramada{
    background-color: #28a745;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    color: #fff;
    padding: .375rem .75rem;
}
.rondaProgramada h4, .rondaProgramada h6, .rondaProgramada a, .rondaProgramada p, .rondaRealizada h4, .rondaRealizada h6, .rondaRealizada a, .rondaRealizada p{

    color: #fff;   
} 
.rondaRealizada{
    background-color: #092ddb;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    color: #fff;
    padding: .375rem .75rem;
}
.sobretodo{
    z-index: 99999;
}
.reducir_padding_col > div{
    padding: 8px 8px
}


.botondropdown .btn-group {
    white-space: nowrap;
}

@media (max-width: 767px) {
    .botondropdown .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .botondropdown .table-responsive {
        overflow: inherit !important;
    }
}
.botondropdown .dropdown-toggle::after {
    display: none;
}

.botondropdown .dropdown-menu {
    left: -35px !important;
}

.treebuttom {
    padding: 0 5px;   
}